$include /etc/inputrc

# no case sensitivity in tab completion
set completion-ignore-case on

# zsh like completion
set show-all-if-ambiguous on
set colored-stats on
set menu-complete-display-prefix on
set colored-completion-prefix on
"\C-i": menu-complete
"\e[Z": menu-complete-backward

# vim: syntax=bash:
