!! URxvt settings
urxvt.scrollBar:	false
urxvt.visualBell:	true
urxvt.urgentOnBell:	true
urxvt.geometry:		400x400
urxvt.font:		xft:FiraCode

!! Bismuth
urxvt.foreground:	#e1e1e1
urxvt.background:	#1b1e23
urxvt.cursorColor:	#e1e1e1

! Black / Grey
urxvt.color0:		#1b1323
urxvt.color8:		#414348

! Red / Bright Red
urxvt.color1:		#c32e2e
urxvt.color9:		#c58181

! Green + Bright Green
urxvt.color2:		#3ec41a
urxvt.color10:		#88f16c

! Yellow (Orange) + Bright Yellow (Yellow)
urxvt.color3:		#f58e29
urxvt.color11:		#f1e35e

! Blue + Bright Blue
urxvt.color4:		#425dcf
urxvt.color12:		#727fd0

! Magenta (Purple) + Bright Magenta
urxvt.color5:		#734aae
urxvt.color13:		#c57dce

! Cyan (Aqua) + Bright Cyan
urxvt.color6:		#5cccda
urxvt.color14:		#a5cae4

! Light Grey (Selection) + White (Current Line)
urxvt.color7:		#e1e1e1
urxvt.color15:		#f2f2f2
